[Unit]
Description=F87 Keyboard RGB Control Daemon

[Service]
Type=dbus
BusName=org.f87.Control
ExecStart=/usr/local/bin/f87d
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
